{%extends "base.html" %}
{%block content%}

    <div class="abt_container">

          <p>
              Image captioning is the process of generating caption i.e. description from input image. It requires both Natural language processing as well as computer vision to generate the caption.
              The popular benchmarking dataset which has images and its caption are:
<ul>
          <li>Common Objects in Context (COCO). A collection of more than 120 thousand images with descriptions.</li>
          <li>Flickr 8K: A collection of 8 thousand described images taken from flickr.com.</li>
          <li>Flickr 30K: A collection of 30 thousand described images taken from flickr.com.</li>


      </ul>

          </p>
        <div class="predict_image">
        <img src="../static/vision-encoder-decoder.png" alt="Uploaded Image"width="600" height="300">
      </div>

      </div>
    </div>
{%endblock%}